In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
HEADERS = ({"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) \
AppleWebKit/537.36 (KHTML, like Gecko) \
Chrome/90.0.4430.212 Safari/537.36","Accept-Language":"en-US,en:q=0.5"})

In [3]:
def getData(site_url):
    res = requests.get(site_url, headers = HEADERS)
    return res.text;

def getHtml(site_url):
    data = getData(site_url)
    soup = BeautifulSoup(data, 'html.parser')
    return soup

In [4]:
site_url = "https://www.flipkart.com/lenovo-ideapad-gaming-3-ryzen-7-octa-core-amd-r7-5800h-8-gb-512-gb-ssd-windows-11-home-4-graphics-nvidia-geforce-rtx-3050-15ach6-laptop/product-reviews/itm5c62404b310aa?pid=COMGGMRSDDRGKFGU&lid=LSTCOMGGMRSDDRGKFGUT5XTRV&marketplace=FLIPKART"

In [5]:
soup = getHtml(site_url)

In [8]:
def getName(soup):
    name = ""
    namelist = []
    
    for item in soup.find_all('p', class_="_2sc7ZR _2V5EHH"):
        name = name + item.get_text()
        namelist.append(name);
        name = ""
    return namelist

name_res = getName(soup)
print(name_res)

['Pritam Tamuli', 'Soumyajit  Biswas', 'Yash Salve', 'King King', 'Haresh  Makwana', 'Flipkart Customer', 'Kara Nuku', 'AYAN SHAIKH', 'Chiku .', 'Rhishikesh Pingle']

In [9]:
def getRating(soup):
    rate = ""
    ratelist = []
    
    for item in soup.find_all('div', class_="_3LWZlK _1BLPMq"):
        rate = rate + item.get_text()
        ratelist.append(rate)
        rate = ""
    return ratelist

rate_res = getRating(soup)
print(rate_res)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [11]:
def getReview(soup):
    review = ""
    review_list = []
    
    for item in soup.find_all('p', class_ = '_2-N8zT'):
        review = review + item.get_text()
        review_list.append(review)
        review = ""
    return review_list

review_res = getReview(soup)
print(review_res)

['Great product', 'Best in the market!', 'Highly recommended', 'Terrific purchase', 'Awesome', 'Brilliant', 'Super!', 'Awesome', 'Terrific purchase', 'Brilliant']

In [12]:
data = {"Name": name_res, "Review": review_res, "Rating": rate_res}

In [13]:
df = pd.DataFrame(data)
df

                Name               Review Rating
0      Pritam Tamuli        Great product      5
1  Soumyajit  Biswas  Best in the market!      5
2         Yash Salve   Highly recommended      5
3          King King    Terrific purchase      5
4    Haresh  Makwana              Awesome      5
5  Flipkart Customer            Brilliant      5
6          Kara Nuku               Super!      5
7        AYAN SHAIKH              Awesome      5
8            Chiku .    Terrific purchase      5
9  Rhishikesh Pingle            Brilliant      5

In [14]:
df.isnull().sum()

Name      0
Review    0
Rating    0
dtype: int64

In [24]:
# m = pd.concat([df1, df2, df3])
# m

In [25]:
# sort_val = df.sort_values("xyz", ascending = False)
# sort_val

In [ ]:
pivot_table = pd.pivot_table(df, index = ['Type', 'Category'], values = 'comment')
print(pivot_table)