In [1]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [2]:
type('a')

str

In [3]:
# from pandas import DataFrame

In [4]:
import os
os.getcwd()

'C:\\Users\\Rishabh\\CIY\\code_may\\python'

In [5]:
102 + 37

139

In [6]:
4 *6

24

In [7]:
20 // 5

4

In [8]:
20 // 7

2

In [9]:
3 ^ 6

5

In [10]:
22 % 7

1

In [11]:
2^4

6

In [13]:
a = 5
# x[0] = 1

In [14]:
a

5

In [28]:
# A list is an ordered and changeble sequence of elements. It can hold integers, characters, floats, strings, and even objects
x = [1, 3, 2]

In [30]:
m = ['a', 'b', 'c', 'd', 'e']
m[0]

'a'

In [31]:
m[-1] # selects the last element of the list

'e'

In [3]:
import numpy as np

In [4]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [5]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
np.arange(0,12,3)

array([0, 3, 6, 9])

In [8]:
np.repeat([1,3,6], 3)

array([1, 1, 1, 3, 3, 3, 6, 6, 6])

In [9]:
np.tile([1,3,6], 3)

array([1, 3, 6, 1, 3, 6, 1, 3, 6])

In [10]:
np.log(10)

2.302585092994046

In [11]:
np.exp(10)

22026.465794806718

In [12]:
np.max(10)

10

In [13]:
a = [1,2,4]
np.sum(a)

7

In [14]:
np.mean(a)

2.3333333333333335

In [16]:
np.round(a, 3)

array([1, 2, 4])

In [17]:
np.var(a)

1.5555555555555554

In [18]:
np.std(a)

1.247219128924647

In [19]:
"""
The development includes Meydan Racecourse hotels, 
sky-bubble restaurant, entertainment, clubs, 
a concourse plaza, towers and a boat-house.
Citation: https://mdsr-book.github.io/haikus.html
"""

'\nThe development includes Meydan Racecourse hotels, \nsky-bubble restaurant, entertainment, clubs, \na concourse plaza, towers and a boat-house.\nCitation: https://mdsr-book.github.io/haikus.html\n'

In [21]:
"Data"+"Framed"

'DataFramed'

In [22]:
3 * "data"

'datadatadata'

In [23]:
s = "Harit Pradesh"

In [24]:
s

'Harit Pradesh'

In [25]:
s.upper()

'HARIT PRADESH'

In [27]:
s.lower()

'harit pradesh'

In [28]:
s.title()

'Harit Pradesh'

In [29]:
s.replace("Harit", "Braj")

'Braj Pradesh'

In [30]:
import pandas as pd

In [36]:
df = pd.DataFrame({
    'a':[1,2,3],
    'b':np.array([4,4,5]),
    'c':['x','x','y']
})

In [37]:
pd.DataFrame([
    {'a': 1, 'b': 4, 'c': 'x'},
    {'a': 1, 'b': 4, 'c': 'x'},
    {'a': 3, 'b': 6, 'c': 'y'}
])

   a  b  c
0  1  4  x
1  1  4  x
2  3  6  y

In [38]:
df

   a  b  c
0  1  4  x
1  2  4  x
2  3  5  y

In [39]:
df.mean()

C:\Users\Rishabh\AppData\Local\Temp\ipykernel_37632\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

a    2.000000
b    4.333333
dtype: float64

In [40]:
df.drop_duplicates()

   a  b  c
0  1  4  x
1  2  4  x
2  3  5  y

In [41]:
df.sort_values(by='a')

   a  b  c
0  1  4  x
1  2  4  x
2  3  5  y

In [44]:
df.nlargest(2, 'a')

   a  b  c
2  3  5  y
1  2  4  x